.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fleche {
    background-color: orange;
    cursor: pointer;
}

.droite {
    width: 40px;
    height: 32px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.gauche {
    width: 40px;
    height: 32px;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}